@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family:sans-serif;
}
body{
    padding: 3px;
}
.wellcome{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #0082e6;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 2px;
    margin-bottom:1px ;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);

}
.wellcome h1{
    line-height: 40px;
    font-size:38px;
    color:white;
    text-shadow: 8px 0px 4px #131212;
    /* text-shadow: 2px 0 0px rgba(14, 13, 13, 0.9), 3px 2px 0px rgba(24, 20, 22, 0.5), 3px 0 3px black, 5px 0 3px #1a1617, 6px 2px 3px rgba(48, 44, 45, 0.5), 6px 0 9px #110f0f, 8px 0 9px #071018, 9px 2px 9px rgba(22, 22, 21, 0.5), 9px 0 18px #1d1d1c, 11px 0 18px #242321,
     12px 2px 18px rgba(77,66,0,0.5), 12px 0 30px rgb(26, 26, 39), 14px 0 3px #0d0e0c, 15px 2px 30px rgba(10, 10, 10, 0.5), 15px 0 5px #727472, 17px 0 4px whitesmoke, 7px 2px 5px white; */
}
.logo{
    width: 80px;
    height: 78px;
    margin-left: 26px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.container1{
   height:100%;
   width:250px;
   padding-bottom: 60px;
   position:fixed;
   background:#10233a;
   z-index:1;
   box-shadow: 0 0 16px rgba(0,0,0,0.6);
   transform:translateX(0px);
   -webkit-transform:translateX(0px);
   -moz-transform:translateX(0px);
   -ms-transform:translateX(0px);
   -o-transform:translateX(0px);
}
.container1 .head {
   color:#fbfdce;
   font-size:30px;
   font-weight:bold;
   padding:26px;
   text-transform:uppercase;
   text-align:left;
   letter-spacing:4px;
   background:linear-gradient(30deg,#dfe155,#ed4901);
}
ol{
    margin-top: 20px;
    width:100%;
    list-style:none;
}
ol li{
    display:block;
    width:100%;
}
ol li a {
    color:white;
    padding:10px 15px;
    text-decoration:none;
    display:block;
    font-size:20px;
    letter-spacing:1px;
    position:relatives;
    transition:0.3s;
    overflow:hidden;
    text-transform:capitalize;
    }

    .logout{
        width:40%;
        font-size: 20px;
        float: right;
    }
   .logout a{
       text-decoration: none;
       float:right; 
       background-color:indigo;
       color: white; 
       padding: 0px 10px 0px 10px;
       border-radius: 7px;
   } 
    ol li a i{
    width:70px;
    font-size:25px;
    text-align:center;
    padding-left:30px;
    }
    ol li:hover a {
    background:#020c18;
    color:#00eaff;
    text-decoration: none;
}
.active{
    background:#020c18;
    color:#00eaff;
    text-decoration: none;
}
a i:hover {
    padding: 4px;
    border: radius 6px;
    background:#020c18;
    color:#00eaff;
    text-decoration: none;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
}
.toggle{
    -webkit-appearance:none;
    display:none;
}
#check:checked ~ .container1{
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}
#check:checked ~ .container1 #bars{
   display: none;
}
/*/////////////////////*/
span{
    right:-100px;
}
#bars{
    display: none;
}
#times{
    display:none;
}
 .section{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    filter:brightness(60%);
    text-align: center;
}
.topNav{
    height: 50px;
    width: 100%;
    display: flex;
    padding-left: 10px;
    line-height: 50px;
    background-color: rgb(204, 205, 216);
    position: sticky;
    top: 83px;;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
#check:checked ~ .topNav{
    margin-left: 250px;
}

.navAndMain{
margin-left: 260px;
padding-bottom: 90px;
}
.displayBody{
    padding-top: 30px;
    margin-left: 40px 30px 20px 20px;
    height: calc(100vh - 80px);
}

@media screen and (max-width: 990px){
    .wellcome{
        height: 80px;

    }
    .wellcome h1{
        padding: 10px;
        font-size:24px;
        line-height: 20px;
    }
    .topNav{
        top: 81px;
        height: 60px;
        position:fixed;
    }
    .wellcome{
        position:fixed;
    }
    .container1{
     margin-top: 0px;
    transform:translateX(-254px);
    -webkit-transform:translateX(-254px);
    -moz-transform:translateX(-254px);
    -ms-transform:translateX(-254px);
    -o-transform:translateX(-254px);
}
 #bars{
    background:linear-gradient(30deg,#dfe155,#ed4901);
    display: block;
}
#times{
    display:block;
}
span{
    position:absolute;
    font-size:25px;
    border-radius:3px;
    color:#fff;
    padding:3px 8px;
    cursor:pointer;
    background:red;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}
#check:checked ~ .container1 span{
    right: 30px;
    top: 50px;
    width: 34px;
}
.navAndMain{
    margin-left: 0px;
    height:100%;
    }
}